/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.1);
  font-family: "Lexend", sans-serif;
}

main {
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
  width: 75vw;
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(128, 128, 128);
}

@media (min-width: 768px) {
  main {
    width: 50vw;
  }
}
@media (min-width: 1200px) {
  main {
    width: 35vw;
  }
}
h1 {
  line-height: 0;
}
h1 span {
  display: inline-block;
  background-color: blue;
  width: 2rem;
  height: 2rem;
  border: 3px solid black;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
h1 span span:nth-child(1) {
  position: absolute;
  top: -15%;
  left: -30%;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  background-color: orange;
}
h1 span span:nth-child(2) {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: red;
}
h1 span:hover {
  scale: 1.1;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.selectNumber {
  font-family: inherit;
  line-height: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  background-color: orange;

  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-top: none;
  border-bottom: none;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), inset 2px 2px 6px black;
  transition: all 0.3s ease;
}
.selectNumber:nth-child(even) {
  background-color: darkorange;
}
.selectNumber.black {
  background-color: rgb(0, 0, 0);
}
.selectNumber:hover {
  font-size: 1.6rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  box-shadow: 1px 1px 6px black, inset -2px -2px 2px rgba(0, 0, 0, 0.3);
}
.selectNumber.black:hover {
  box-shadow: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 100%;
}

#submit,
#reset,
#random {
  padding: 5px;
  background-color: cornflowerblue;
  font-family: inherit;
  color: antiquewhite;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0);
  box-shadow: 1px 1px 2px rgba(0, 0, 0);
}
#submit:active,
#reset:active,
#random:active {
  text-shadow: -1px -1px 1px rgba(0, 0, 0);
  box-shadow: inset 1px 1px 2px black;
}

#numbers span span,
#result span span,
#matched span span {
  display: inline-block;
  background-color: gold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2;
  text-align: center;
  margin: 5px 0 0 5px;
  box-shadow: 1px 1px 2px black;
}
